@font-face {
  font-family: "xicon1"; /* Project id 2750556 */
  /* Color fonts */
  src: 
       url('oceanxfont1.woff2?t=1649321724829') format('woff2'),
       url('oceanxfont1.ttf?t=1649321724829') format('truetype');
}

.xicon1 {
  font-family: "xicon1" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-i-color-user:before {
  content: "\e7d4";
}

.x-i-color-group:before {
  content: "\e7d5";
}

.x-i-control-decimal:before {
  content: "\e7cb";
}

.x-i-control-button:before {
  content: "\e7c7";
}

.x-i-add-user:before {
  content: "\e7c4";
}

.x-i-add-role:before {
  content: "\e7be";
}

.x-i-add-definition:before {
  content: "\e790";
}

.x-i-abnormal:before {
  content: "\e791";
}

.x-i-add-group:before {
  content: "\e792";
}

.x-i-add-email-template:before {
  content: "\e793";
}

.x-i-add-link:before {
  content: "\e794";
}

.x-i-control-boolean:before {
  content: "\e796";
}

.x-i-completed:before {
  content: "\e797";
}

.x-i-add-model:before {
  content: "\e798";
}

.x-i-confer:before {
  content: "\e79a";
}

.x-i-batch-import:before {
  content: "\e79b";
}

.x-i-control-input:before {
  content: "\e79c";
}

.x-i-add-expression-group:before {
  content: "\e79d";
}

.x-i-cancel-sign:before {
  content: "\e79e";
}

.x-i-data-export:before {
  content: "\e79f";
}

.x-i-control-textarea:before {
  content: "\e7a0";
}

.x-i-assign:before {
  content: "\e7a1";
}

.x-i-add-expression:before {
  content: "\e7a2";
}

.x-i-add-rolegroup:before {
  content: "\e7a3";
}

.x-i-dashboard:before {
  content: "\e7a4";
}

.x-i-control-radio:before {
  content: "\e7a5";
}

.x-i-control-date:before {
  content: "\e7a6";
}

.x-i-delete-circle:before {
  content: "\e7a7";
}

.x-i-copy:before {
  content: "\e7a8";
}

.x-i-control-user:before {
  content: "\e7a9";
}

.x-i-control-select:before {
  content: "\e7aa";
}

.x-i-administrator:before {
  content: "\e7ab";
}

.x-i-edit:before {
  content: "\e7af";
}

.x-i-disable:before {
  content: "\e7b0";
}

.x-i-control-datetime:before {
  content: "\e7b1";
}

.x-i-excel:before {
  content: "\e7b2";
}

.x-i-data-import:before {
  content: "\e7b3";
}

.x-i-control-number:before {
  content: "\e7b4";
}

.x-i-definition:before {
  content: "\e7b6";
}

.x-i-archive:before {
  content: "\e7b7";
}

