@font-face {
  font-family: "xicon2"; /* Project id 2752323 */
  /* Color fonts */
  src: 
       url('oceanxfont2.woff2?t=1649321707102') format('woff2'),
       url('oceanxfont2.ttf?t=1649321707102') format('truetype');
}

.xicon2 {
  font-family: "xicon2" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.x-i-export:before {
  content: "\e7f7";
}

.x-i-import:before {
  content: "\e7f8";
}

.x-i-header:before {
  content: "\e7ef";
}

.x-i-selectlist-manage:before {
  content: "\e7ee";
}

.x-i-task-history:before {
  content: "\e7ed";
}

.x-i-save:before {
  content: "\e7ec";
}

.x-i-delegate:before {
  content: "\e7d6";
}

.x-i-endorse:before {
  content: "\e7cc";
}

.x-i-file-add:before {
  content: "\e7c9";
}

.x-i-email-template:before {
  content: "\e7c8";
}

.x-i-document:before {
  content: "\e7c7";
}

.x-i-group:before {
  content: "\e7c5";
}

.x-i-publish-hollow:before {
  content: "\e7c6";
}

.x-i-delete:before {
  content: "\e7c3";
}

.x-i-handle:before {
  content: "\e7b9";
}

.x-i-myprocess:before {
  content: "\e7c4";
}

.x-i-start-process:before {
  content: "\e7c2";
}

.x-i-link:before {
  content: "\e7b2";
}

.x-i-agent:before {
  content: "\e7b8";
}

.x-i-form:before {
  content: "\e79b";
}

.x-i-folder:before {
  content: "\e79c";
}

.x-i-form-setting:before {
  content: "\e79d";
}

.x-i-leader:before {
  content: "\e79e";
}

.x-i-form-control:before {
  content: "\e79f";
}

.x-i-model:before {
  content: "\e7a1";
}

.x-i-instance-manage:before {
  content: "\e7a2";
}

.x-i-publish:before {
  content: "\e7a3";
}

.x-i-grid-setting:before {
  content: "\e7a4";
}

.x-i-refresh:before {
  content: "\e7a5";
}

.x-i-log:before {
  content: "\e7a6";
}

.x-i-running:before {
  content: "\e7a8";
}

.x-i-role-group:before {
  content: "\e7aa";
}

.x-i-statistics:before {
  content: "\e7ac";
}

.x-i-restart:before {
  content: "\e7ad";
}

.x-i-serial-no:before {
  content: "\e7ae";
}

.x-i-sign:before {
  content: "\e7af";
}

.x-i-role:before {
  content: "\e7b1";
}

.x-i-suspend:before {
  content: "\e7b4";
}

.x-i-start:before {
  content: "\e7bb";
}

.x-i-stop:before {
  content: "\e7c0";
}

