.list-box {
    position: fixed;
    left: 0;
    top: 60px;
    overflow: scroll;
    bottom: 0;
    right: 0;
}

.list-item {
    list-style: none;
    background-color: #fc4838;
    padding: 10px 20px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: bold;
    border-radius: 10px;
}

.scroll-box {
    overflow: scroll;
    position: relative;
}

.scroll-hold {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

