.page {
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh auto;
    grid-template-columns: 20vw auto;
    overflow: hidden;
}

.page .header, .page .sidebar, .page .content {
    outline: 1px solid #FF0000FF;
}

.page .content {
    overflow: auto;
}

.page .header {
    grid-column: 1/-1;
    position: relative;
    box-sizing: border-box;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
}