body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --theme-bg-color: #1D9BF0FF;
}

.k-tabstrip .k-d-flex .label {
    flex: 0 0 30%;
    text-align: right;
}

.k-tabstrip .k-content .k-animation-container {
    display: block;
}

.k-d-no-gap-flex {
    display: flex;
    gap: 0;
    flex-flow: row wrap;
}

.k-d-no-gap-flex .k-card {
    flex: 0 0 25%;
}

.k-d-no-gap-flex .k-card:hover{
    border: 1px solid #418EFF;
}